Career Trends Explorer and Personalized Job Matcher

In [4]:
import numpy as np
import pandas as pd

In [5]:
job_df = pd.read_csv("Combined_Jobs_Final.csv")

In [6]:
job_df.head(10)

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,121,1,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,...,Food and Beverages,● Serve food/drinks to customers in a profess...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,127,1,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,...,Food and Beverages,"Located at the heart of Hollywood, we are one ...",NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC
5,129,1,open,los-altos-ca-mind-of-beauty-day-spa-receptionist,Receptionist @ Mind of Beauty Day Spa,Receptionist,Mind of Beauty Day Spa,Los Altos,California,CA,...,Retail,We are a group of professional massage therapi...,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-03-12 03:01:36 UTC,2014-08-16 15:35:40 UTC
6,131,1,open,los-angeles-ca-roy-s-woodland-hills-server,Server @ Roy's Woodland Hills,Server,Roy's Woodland Hills,Los Angeles,California,CA,...,Food and Beverages,● Serve food/drinks to customers in a profess...,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-09-27 17:46:47 UTC,2014-08-16 15:36:13 UTC
7,133,1,open,berkeley-ca-koja-kitchen-driver,Driver @ KoJa Kitchen,Driver,KoJa Kitchen,Berkeley,California,CA,...,Food and Beverages,KoJa Kitchen:\r\nPART-TIME LOCAL HELP NEEDED W...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-05-15 01:58:55 UTC,2014-08-16 15:35:41 UTC
8,134273,2,open,mendham-nj-king-s-food-markets-assistant-store...,Assistant Store Manager @ King's Food Markets,Assistant Store Manager,King's Food Markets,Mendham,New Jersey,NJ,...,NaN,\r\nAssistant Store Manager\r\n\r\nNow Hiring ...,NaN,NaN,12-05-2014,01-04-2015,Part-Time,Not Specified,2014-12-05 16:55:06 UTC,2014-12-05 16:55:06 UTC
9,134274,2,open,onalaska-wi-aldi-store-associate-retail-sales-...,Store Associate - Retail Sales (Customer Servi...,Store Associate - Retail Sales (Customer Service),ALDI,Onalaska,Wisconsin,WI,...,NaN,Hiring Event Details\r\nStore Associate\r\n\r\...,NaN,NaN,12-05-2014,01-04-2015,Full-Time/Part-Time,High School Diploma,2014-12-05 16:55:07 UTC,2014-12-05 16:55:07 UTC

In [7]:
print(len(job_df))
job_df = job_df[['Status', 'Title', 'Position', 'Company', 'Job.Description']]
print(len(job_df))

84090
84090

In [8]:
job_df.shape

(84090, 5)

In [9]:
job_df['Job.Description'][20]

'Hiring Event Details\r\nStore Associate\r\n\r\n$12.00 / Hour\r\nAdditional $1.00 Per Hour For ALL Sunday Shifts!\r\n50 Cent Wage Increases Beginning At 6 Months - Up to $13.50 At 2 Years\r\n\r\nMonday, December 15, 2014\r\n9am - 11am\r\n\r\nALDI\r\n3133 Market Place Dr\r\nOnalaska, WI 54650\r\n\r\n&nbsp;\r\nFor consideration, please apply in person at the hiring event only. Get started now by downloading our Store Employment Application.\r\n\r\nStore Associate - Retail Sales ( Customer Service )\r\n\r\nIf you are a customer service minded individual with a positive and energetic personality and you&rsquo;re interested in working for one of the best-known grocery stores in the nation, join the ALDI family! We are looking for motivated and reliable individuals to serve as a Store Associate. You will serve as the face of ALDI, providing customers with friendly and efficient check-out services. But that&rsquo;s just the beginning. You will also assist the store manager in a variety of roles, from stocking and merchandising our products to monitoring inventory and keeping the store looking clean and inviting. This is also an excellent ground-floor opportunity for you if you are interested in pursuing a management career, as we prefer to promote from within whenever possible. If you are a people person who likes to roll up your sleeves and put in a good day&rsquo;s work, we want to talk with you!\r\n\r\n\r\nStore Associate - Retail Sales ( Customer Service )\r\n\r\nJob Responsibilities\r\n&nbsp;\r\nAs a Store Associate, you will be involved in all aspects of keeping the store looking and functioning at its best. First and foremost, of course, you will keep your checkout line moving as quickly and smoothly as possible while ensuring that customers have a pleasant and positive shopping experience. In addition, you will have a variety of other duties throughout the store, which you will perform on an as-needed basis.\r\n&nbsp;\r\nYour specific duties as a Store Associate will include:\r\n&nbsp;\r\n\r\n    \r\n    Providing friendly and informative customer service\r\n    \r\n    Ringing up customers quickly, efficiently, and with a smile\r\n    \r\n    Maintaining professional appearance and demeanor at all times\r\n    \r\n    Making a positive impression on customers to encourage word-of-mouth referrals\r\n    \r\n    Scanning products\r\n    \r\n    Conducting cash and inventory control\r\n    \r\n    Maintaining displays and ensuring that they are kept stocked and up to company standards\r\n    \r\n    Loading and unloading delivery trucks\r\n    \r\n    Rotating stock\r\n    \r\n    Keeping the store clean (floors, registers, bathrooms, etc.)\r\n\r\n'

In [10]:
job_df.isnull().sum()
job_df.fillna('',inplace=True)
job_df.isnull().sum()

Status             0
Title              0
Position           0
Company            0
Job.Description    0
dtype: int64

In [11]:
job_df = job_df.sample(n=1000,random_state=42)

In [12]:
job_df.shape

(1000, 5)

cleaning dataset

In [13]:
import nltk 
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

ps = PorterStemmer()

import re

ModuleNotFoundError: No module named 'nltk'

In [83]:
#function 
def cleaning(text):
    cleaned_text = re.sub(r'[^a-ZA-z0-9\s]','',txt)
    tokens = nltk.word_tokenize(cleaned_txt.lower())
    stemming = [ps.stem(w) for w in tokens if w not in stopwords.words('english')]
    return " ".join(stemming)

In [91]:
job_df['clean_text'] = job_df['Job.Description']+" "+job_df['Title']+job_df['Position']

In [93]:
job_df['clean_text'][64119]

'Job Summary Knowledge Universe (KU) Site Directors are site leaders who inspire children and teachers alike to learn and grow. They are passionate about educational excellence, and confident teaching children and adults. They use our nationally recognized curriculum as a framework to create unique and engaging classroom experiences. They are committed to making their site successful and know that meaningful relationships with children, families, and their team are important to success. They are fully engaged, enthusiastic about their work, and eager to share their knowledge with others.  Job Responsibilities and Essential Functions These are the basic expectations for Site Directors. Of course, creative and new ways to meet or exceed expectations are encouraged, so long as the required essential functions are also met. •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 supervision of children and staff  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 record keeping  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 licensing records and child files  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 lesson planning and implementation  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 maintenance of safe and welcoming classroom environment  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 building of relationships with the community and school  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 recruiting new students to the program  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 applicant must have strong organizational skills  Site Director @ Knowledge UniverseSite Director'

vectorizatoin

In [95]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [97]:
tfidf = TfidfVectorizer(stop_words='english')
matrix = tfidf.fit_transform(job_df['clean_text'])
similarity = cosine_similarity(matrix)

In [99]:
similarity

array([[1.        , 0.04316713, 0.01584323, ..., 0.03422459, 0.02355197,
        0.05787057],
       [0.04316713, 1.        , 0.02349895, ..., 0.02843237, 0.00650416,
        0.02200366],
       [0.01584323, 0.02349895, 1.        , ..., 0.12147903, 0.11821837,
        0.0849148 ],
       ...,
       [0.03422459, 0.02843237, 0.12147903, ..., 1.        , 0.10231673,
        0.0942541 ],
       [0.02355197, 0.00650416, 0.11821837, ..., 0.10231673, 1.        ,
        0.3645772 ],
       [0.05787057, 0.02200366, 0.0849148 , ..., 0.0942541 , 0.3645772 ,
        1.        ]])

In [101]:
sorted(list(enumerate(similarity[0])), key=lambda x: x[1], reverse=True)[1:20]

[(276, 0.9722978191534405),
 (730, 0.4693455623989403),
 (81, 0.4536741051836527),
 (917, 0.4536741051836527),
 (252, 0.2321621385794393),
 (128, 0.21034123661514442),
 (629, 0.16075217918132764),
 (825, 0.15085839382029043),
 (360, 0.13948993213260905),
 (38, 0.13203413350553034),
 (245, 0.12456254264617572),
 (326, 0.12128481680479009),
 (298, 0.11780183176064213),
 (195, 0.11298471725820088),
 (284, 0.11217975216761904),
 (59, 0.1116727653741743),
 (114, 0.10797827058611761),
 (254, 0.10562131035812325),
 (890, 0.10498251733474129)]

Recommendation System

In [103]:
def recommend(title):

        indx = job_df[job_df['Title'] == title].index[0]
        indx = job_df.index.get_loc(indx)
        distances = sorted(list(enumerate(similarity[indx])), key=lambda x: x[1], reverse=True)[1:20]

        jobs = []
        for i in distances:
            jobs.append(job_df.iloc[i[0]].Title)
        return jobs

In [107]:
import pickle
pickle.dump(job_df,open('df.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [109]:
import pandas as pd
print(pd.__version__)

2.2.2